@keyframes bouncing {
  0% {
    transform: scale(4deg);
  }

  100% {
    transform: scale(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 3px gray, -3px -3px 3px gray;
  padding: 2rem 1rem;
}

header h2 {
  font-size: 2rem;
  text-shadow: 3px 3px 3px rgb(72, 72, 72);
}

header button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
}

main {
  padding: 13rem;
}

main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  animation: bouncing 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.snap {
  padding: 4rem;
}
.snap h1 {
  text-align: center;
  text-transform: uppercase;
}

.camera-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.camera {
  margin-left: 12rem;
  margin-top: 4rem;
}
.snap button,
.snapButton {
  background: gray;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 30rem;
  bottom: 2rem;
}

.snap a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1000px) {
  main h1 {
    font-size: 3rem;
  }

  canvas {
    padding: 0 17rem;
    margin-top: 4rem;
    border-radius: 15%;
    box-sizing: border-box;
  }

  .camera-container {
    margin-left: -3rem;
  }
}
@media (max-width: 900px) {
  main h1 {
    font-size: 6rem;
  }
  .camera-container {
    margin-left: -4rem;
  }
}

@media (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .camera-container {
    margin-left: -6rem;
  }
}

@media (max-width: 810px) {
  .camera-container {
    margin-left: -7rem;
  }
}

@media (max-width: 780px) {
  main {
    padding: 5rem;
  }
  main h1 {
    margin-top: 4rem;
    text-align: left;
  }
  .camera {
    margin: 0;
    width: 100%;
  }
  .camera-container {
    max-width: 500px;
    width: 100%;
    margin-left: 6rem;
  }

  .snapButton {
    left: 15rem;
  }
}

@media (max-width: 630px) {
  .camera-container {
    margin-left: 4rem;
  }
}

@media (max-width: 600px) {
  .camera-container {
    margin-left: 3rem;
  }
}

@media (max-width: 560px) {
  main h1 {
    font-size: 2.2rem;
  }
  .camera {
    width: 90%;
  }

  .snapButton {
    left: 13rem;
  }

  canvas {
    padding: 0 9rem;
  }
}

@media (max-width: 510px) {
  .camera {
    width: 80%;
  }

  .snapButton {
    left: 12rem;
  }
}

@media (max-width: 480px) {
  .camera {
    margin-left: 0.5rem;
  }
}

@media (max-width: 430px) {
  .camera {
    margin-left: 0.3rem;
  }

  .snapButton {
    left: 10rem;
  }

  canvas {
    padding: 0 4rem;
  }
}

@media (max-width: 400px) {
  .camera {
    width: 70%;
  }

  .snapButton {
    bottom: -7rem;
    left: 6rem;
  }

  canvas {
    margin-top: 10rem;
    margin-left: -2rem;
  }
}

@media (max-width: 350px) {
  .snapButton {
    bottom: -7rem;
    left: 6rem;
  }

  canvas {
    margin-top: 10rem;
    margin-left: -2rem;
  }
}
