@keyframes bouncing {
  0% {
    transform: scale(4deg);
  }

  100% {
    transform: scale(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 3px gray, -3px -3px 3px gray;
  padding: 2rem 1rem;
}

header h2 {
  font-size: 2rem;
  text-shadow: 3px 3px 3px rgb(72, 72, 72);
}

header button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  cursor: pointer;
}

main {
  padding: 13rem;
}

main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  animation: bouncing 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.snap {
  padding: 4rem;
}
.snap h1 {
  text-align: center;
  text-transform: uppercase;
}

.camera-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.camera {
  margin-left: 12rem;
  margin-top: 4rem;
}
.snap button,
.snapButton {
  background: gray;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 30rem;
  bottom: 2rem;
}

.snap a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 952px) {
  .camera-container {
    max-width: 951px;
  }
}
